@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    transform: rotate(-10deg);
    font-size: 3em;
}

.wrapper {
    padding: 0 1em;
}
